<h1>{{ title }}</h1>



<body>

<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand-primary" href="#">MyArticleEsSuArtle</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarText">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="#">Home<span class="sr-only"></span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Saved Articles</a>
      </li>
    </ul>
      </div>     
    <button class="btn btn-outline-primary mr-2 mr-sm-2" type="submit">Search New Articles</button>
  </form>
    </span>
  </div>
</nav>

<div id="indexContainer">

    <div class="main">

        <br>
    <img class="pic" src="/assets/images/letsread-background.jpeg" alt="primary image">
    <div class="homeHTML">All the articles you love in one place.</div>
</div>
</div>

<footer class="foot">MyArticleEsSuArtle &copy;</footer>